<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
    <string>top.lijiabo.OfficeAutoRecoveryBackup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>/Users/username/path/to/office_autorecovery_backup.zsh</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/Users/username/Library/Containers/com.microsoft.Word/Data/Library/Preferences/AutoRecovery</string>
        <string>/Users/username/Library/Containers/com.microsoft.Excel/Data/Library/Application Support/Microsoft</string>
        <string>/Users/username/Library/Containers/com.microsoft.Powerpoint/Data/Library/Preferences/AutoRecovery</string>
    </array>
</dict>
</plist>
